/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    margin-left: 330px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $wall-background;
    -webkit-text-size-adjust: 100%;
    @include media-query($on-laptop) {
        margin: 0 auto;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $block-margin;
}

table{
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


.figure {
    text-align: center;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $font-size-level-7;
}



/**
 * Lists
 */
ul, ol {
    margin-left: 2em;
}

li {
    > ul,
    > ol {
        margin-left: 1em;
        margin-bottom: 0;
    }
}

ul {
    list-style: disc;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;
    &:hover {color: $note-color;}
    &:visited {}
}



/**
 * Blockquotes
 */
blockquote {
    color: $note-color;
    padding: $text-margin;
    border-left: thick solid $note-color;
    background-color: $note-background;
    > :last-child {
        margin-bottom: 0;
    }
    @include media-query($on-laptop) {
        margin: 0 auto;
    }
}



/**
 * Code formatting
 */
pre, code {
    font-size: $font-size-level-7;
    color: $text-color;
    overflow: auto;
}

code {
    color: $code-color;
    padding: 1px 5px;
}

pre {
    padding: $text-margin $block-margin;
    color: $text-color;
    background-color: $code-background;
    overflow: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-bottom: $text-margin;
    max-width: 1000px;
    padding: 0 auto;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $wall-color;
        }
    }
}

table, th, td {
    min-width: 80%;
}

th {
    background-color: $note-background;
    padding: 0.2em 1em;
    text-align: left;
}
td {
    font-family: monospace;
    padding: 0.2em 1em;
}
tr:nth-child(2n+1) {
    background-color: $text-background;
}
tr:nth-child(2n+2) {
    background-color: $code-background;
}
dl {
    @extend %clearfix;
}

dt {
    font-family: monospace;
    font-weight: bold;
    color: $note-color;
    margin: 0;
    padding: 0 0.5em;
    width: 28%;
    float: left;
    clear: left;
}

dd {
    font-family: monospace;
    margin: 0;
    float: left;
    padding: 0 0.5em;
    border-left: solid 2px $note-color;
    width: 65%;
}

.center {
    text-align: center;
}
.footpara:nth-child(2) { display: inline; }
.footpara {display:block;}
