
.site-title {
    margin-top: $block-margin;
    font-size: $font-size-level-1;
    line-height: $tall-line-height;
    &, &:link, &:visited {color: $wall-color;}
    @include media-query($on-laptop) {
        display: none;
    }
}

.site-subtitle {
    font-size: $font-size-level-5;
    line-height: $tall-line-height;
    &, &:link, &:visited {color: $side-color;}
    @include media-query($on-laptop) {
        display: none;
    }
}

.sidebar {
    position: fixed;
    margin: 0;
    padding: 5px;
    background-color: $side-background;
    left: 0;
    top: 0;
    width: 370px;
    height: 100%;
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    @include media-query($on-laptop) {
        position: relative;
        padding: 0;
        width: 100%;
        background-color: $side-background;
    }
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-toggler {
    position: fixed;
    a, &, &:visited {color: $side-color;}
    left: 370px;
    top: 0;
    width: 30px;
    height: 100%;
    @include media-query($on-laptop) {
        position: relative;
        left: 0;
        width: 100%;
    }
}
.site-header,
.site-footer {
    max-width: 1600px;
    margin-right: $block-margin;
    @include media-query($on-laptop) {
        margin: 0 auto;
    }
}

.page-heading {}
.page-content {
    max-width: 1280px;
    margin-right: 20px;
    @include media-query($on-laptop) {
        margin: 0 auto;
    }
    h1 {font-size: $font-size-level-1; color: #005555;}
    h2 {font-size: $font-size-level-2; color: #000077;}
    h3 {font-size: $font-size-level-3; color: #880000;}
    h4 {font-size: $font-size-level-4; color: #005500;}
    h5 {font-size: $font-size-level-5; color: #880088;}
    h6 {font-size: $font-size-level-6; color: #005555;}
}

.post {
    padding: $paper-margin;
    background-color: $text-background;
    @include media-query($on-palm) {
        padding: $paper-margin 5px;
    }
}
.post-header {}
.post-title {
    &, &:link, &:visited {color: $link-color;}
}
.post-meta {color: $link-color;}
.post-content {margin-bottom: $paper-margin;}
.post-link {font-size: $font-size-level-2;}
.post-tags {
    font-family: monospace;
    font-size: $base-font-size;
    background-color: $tags-background;
    padding: 1px $text-margin;
    overflow: auto;
    &, &:link, &:visited {color: $tags-color;}
    &:hover {background-color: $pick-background;}
}
.post-nav {
    font-family: monospace;
    background-color: $tags-background;
    padding: 1px $text-margin;
    overflow: auto;
    &, &:link, &:visited {color: $tags-color;}
    &:hover {background-color: $pick-background;}
}
.post-prev {
    float: left;
    width: 50%;
    text-align: left;
}
.post-next {
    float: left;
    width: 50%;
    text-align: right;
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {margin-bottom: $block-margin;}
}
.post-top {
    text-align: right;
    color: $meta-color;
    font-size: $base-font-size;
}

.pagination {text-align: center;}

.footer-col-wrapper {
    font-size: smaller;
    &, &:link, &:visited {color: $wall-color;}
    @extend %clearfix;
}

.footer-col-1 {
    width: 40%;
    float: left;
    margin-left: 10%;

    @include media-query($on-palm) {
        width: 40%;
        margin-left: $block-margin;
    }
}
.footer-col-2 {
    width: 40%;
    float: left;
    text-align: right;
    margin-right: 10%;

    @include media-query($on-palm) {
        width: 56%;
        margin-right: 0;
    }
}

.username,
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    &, &:link, &:visited {color: $wall-color;}
}

.side-nav {
    img {
        width: 2em;
        height: 2em;
        margin-bottom: 0.5em;
        background-position: 1em 1em;
        background-repeat: no-repeat;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
    }
    font-size: $font-size-level-5;
    padding: 0em $block-margin;
    line-height: $tall-line-height;
    &, &:link, &:visited {color: $side-color; }
    &:hover {color: $side-color; }
}

.side-toc {
    @include media-query($on-laptop) {
        display: none;
    }
    padding-top: 0.5em;
}
.toc-current {
    color: $note-color;
    background-color: $note-background;
    font-weight: bold;
}

.org-center {
    text-align: center;
}
