---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$on-palm:          800px;
$on-laptop:        1200px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$font-size-level-1:$base-font-size * 2.0;
$font-size-level-2:$base-font-size * 1.8;
$font-size-level-3:$base-font-size * 1.6;
$font-size-level-4:$base-font-size * 1.4;
$font-size-level-5:$base-font-size * 1.2;
$font-size-level-6:$base-font-size * 1.0;
$font-size-level-7:$base-font-size * 1.0;

$tall-line-height: 2.0;
$base-line-height: 1.5;

$title-margin:     60px;
$paper-margin:     30px;
$block-margin:     10px;
$text-margin:      5px;

$wall-background:  #FFFFEE;
$wall-color:       #112233;

$side-background:  #EEEEEE;
$side-color:       #221133;

$text-background:  #FFFFF0;
$text-color:       #001122;

$code-background:  #DDDDDD;
$code-color:       #660000;

$note-background:  #EEEECC;
$note-color:       #AA0000;

$tags-background:  #CCCCCC;
$tags-color:       #330000;

$link-color:       #004466;
$pick-background:  #EECC55;
$meta-color:       #006644;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
