h1 {color: darkslategray; text-align: center;}
h2 {color: #114488; font-size: 1.7em;}
h3 {color: #880000; font-size: 1.5em;}
h4 {color: #224444; font-size: 1.2em;}

body {
    font-family: Arial, sans-serif;
    max-width: 48em;
    margin: 0 auto;
    font-size: 20px;
}

blockquote {
    padding-left: 0.5em;
    border-left: 4px solid #CC0000;
    font-style: italic;
}
pre {
    padding: 0.5em;
    background-color: #eeeeee;
    border-left: 4px solid #000088;
    overflow: auto;
}

a:link {
    color: #0000CC;
    text-decoration: none;
}
a:hover, a:active {
    color: #000088;
    text-decoration: underline;
}
a:visited {color: #000088}

code {
    color: #C00000;
    background-color: #eee;
}
dt {
   font-family: monospace;
   font-weight: bold;
}

img {max-width: 100%;}
